<section class="section blog">
      <div class="w-layout-blockcontainer container w-container">
        <div class="title-wrap">
          <div data-w-id="9f89c3e0-1516-1706-cd3b-2547ddbd1e05" style="opacity:0" class="top-title-wrap">
            <div class="sub-title-wrap">
              <div>08</div>
            </div>
            <div>Blog</div>
          </div>
          <h2 data-animation="chars" class="title pricing-title">From the Gridify Blog</h2>
        </div>
        <div class="blog-post-collection-list w-dyn-list">
          <div role="list" class="blog-post-grid blog-post w-dyn-items">
            <div id="w-node-_1090fe6e-bdce-01e5-3a8b-c4699636985c-0e3b844d" role="listitem"
              class="collection-item w-dyn-item">
              <div data-w-id="1090fe6e-bdce-01e5-3a8b-c4699636985d" class="integration-link-block blog-post-link">
                <div class="all-integration-content-wrapper blog-post-content-wrapper">
                  <div id="w-node-_1090fe6e-bdce-01e5-3a8b-c4699636985f-0e3b844d" class="blog-post-image-block"><img
                      src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg"
                      loading="lazy" alt="" class="integration-poot-icon blog-post-image w-dyn-bind-empty"></div>
                  <div class="integration-text-block blog-text-block">
                    <div class="blog-tag-block">
                      <div class="inner-tag-wrap">
                        <div class="blog-tag w-dyn-bind-empty"></div>
                      </div>
                      <div class="blog-tag-bg"></div>
                    </div>
                    <a href="#" class="w-inline-block">
                      <h4 class="blog-post-name w-dyn-bind-empty"></h4>
                    </a>
                    <p class="post-short-description w-dyn-bind-empty"></p>
                    <div class="button-wrap">
                      <a data-w-id="1090fe6e-bdce-01e5-3a8b-c4699636986a" href="#" class="blog-btn w-inline-block">
                        <div class="button-2 blog-button">
                          <div class="button-text-wrap button-text-white-wrap">
                            <p class="button-text white">Read More</p>
                            <p style="color:rgb(255,255,255)" class="button-text black">Read More<br></p>
                          </div>
                          <div class="button-bg button-black-bg">
                            <div class="button-inner-bg button-blue-inner-bg"></div>
                          </div>
                        </div>
                        <div class="button-bg-block"></div>
                      </a>
                    </div>
                  </div>
                  <div id="w-node-_1090fe6e-bdce-01e5-3a8b-c46996369878-0e3b844d" style="opacity:0"
                    class="blog-post-bg"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-dyn-empty">
            <div>No items found.</div>
          </div>
        </div>
      </div>
    </section>