<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease"
    role="banner" class="navbar w-nav">
    <div class="navber-container container-nav">
        <div class="navbar-wrapper">
            <a href="#" aria-current="page" class="navbar-brand w-nav-brand w--current"><img loading="lazy"
                    src="images/logo/nlt-filled-text.png" alt=""></a>
            <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
                <div class="nav-menu-block-inner">
                    <div class="nav-links-wrap">
                        <a href="#home" class="nav-link w-inline-block">
                            <div>Home</div>
                        </a>
                        <a href="#about" class="nav-link w-inline-block">
                            <div>About</div>
                        </a>
                        <a href="#faq" class="nav-link w-inline-block">
                            <div>FAQ</div>
                        </a>
                        <a href="#features" class="nav-link w-inline-block">
                            <div>Features</div>
                        </a>
                        <a href="#partners" class="nav-link w-inline-block">
                            <div>Partners</div>
                        </a>
                        <!-- <a href="#pricing" class="nav-link w-inline-block">
                            <div>Pricing</div>
                        </a> -->
                    </div>
                    <!-- <div data-delay="400" data-hover="true" data-w-id="4d97ca26-8fbc-1675-dbc0-ed97c1262522"
                        class="dropdown w-dropdown">
                        <div class="dropdown-toggle w-dropdown-toggle">
                            <div class="dropdown-text">Pages</div>
                            <div class="dropdown-icon-wrap"><img width="14" loading="lazy" alt="Dropdown Icon"
                                    src="images/Frame.svg" class="dropdown-icon _01"><img width="14" loading="lazy"
                                    alt="Dropdown Icon" src="images/Frame.svg" class="dropdown-icon _02"></div>
                        </div>
                        <nav class="dropdown-list w-dropdown-list">
                            <div class="dropdown-padding-wrap">
                                <div class="dropdown-padding">
                                    <div class="dropdown-flex-wrap">
                                        <div id="w-node-_4d97ca26-8fbc-1675-dbc0-ed97c126252d-c126250b"
                                            class="dropdown-singel-wrapper">
                                            <div class="dropdown-title">Pages</div>
                                            <div class="dropdown-menu-wrapper">
                                                <a href="#" class="dropdown-singel-link w-inline-block">
                                                    <div class="dropdown-singel-text">Integration</div>
                                                </a>



                                            </div>
                                        </div>
                                        <div class="dropdown-singel-wrapper">
                                            <div class="dropdown-title">Products</div>
                                            <div class="dropdown-menu-wrapper">
                                                <a href="https://layvix.webflow.io/blog/10-ways-a-crm-can-boost-your-sales-teams-productivity-overnight"
                                                    class="dropdown-singel-link w-inline-block">
                                                    <div class="dropdown-singel-text">Integration single</div>
                                                </a>

                                                <a href="https://layvix.webflow.io/blog/10-ways-a-crm-can-boost-your-sales-teams-productivity-overnight"
                                                    class="dropdown-singel-link w-inline-block">
                                                    <div class="dropdown-singel-text">Blog single</div>
                                                </a>
                                                <a href="faq.html" class="dropdown-singel-link w-inline-block">
                                                    <div class="dropdown-singel-text">Faqs</div>
                                                </a>
                                                <a href="https://gridify.webflow.io/order-confirmation"
                                                    class="dropdown-singel-link w-inline-block">
                                                    <div class="dropdown-singel-text">Order Confirmation</div>
                                                </a>
                                                <a href="https://gridify.webflow.io/checkout"
                                                    class="dropdown-singel-link w-inline-block">
                                                    <div class="dropdown-singel-text">Checkout</div>
                                                </a>
                                                <a href="https://gridify.webflow.io/paypal-checkout"
                                                    class="dropdown-singel-link w-inline-block">
                                                    <div class="dropdown-singel-text">Checkout (PayPal)</div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="dropdown-singel-wrapper">
                                            <div class="dropdown-title">Utility Pages</div>
                                            <div class="dropdown-menu-wrapper">
                                                <a href="template-pages/style-guide.html"
                                                    class="dropdown-singel-link w-inline-block">
                                                    <div class="dropdown-singel-text">Style guide</div>
                                                </a>

                                                <a href="terms-and-condition.html"
                                                    class="dropdown-singel-link w-inline-block">
                                                    <div class="dropdown-singel-text">Terms &amp; Condition</div>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div> -->
                    <div class="nav-mobile-button-wrap">

                    </div>
                </div>
            </nav>
            <div class="nav-button-wrapper">

                <a href="#contact" data-block="button" class="button-primary button-stroke navber w-inline-block">
                    <div class="button-flair"></div>
                    <div class="button-label">Contact Us</div>
                </a>
                <div class="menu-button w-nav-button">
                    <div class="menu-button-icon-wrap">
                        <div class="menu-icon-line-top"></div>
                        <div class="menu-icon-line-middle"></div>
                        <div class="menu-icon-line-bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>