   <section class="section" id="pricing">
      <div class="w-layout-blockcontainer container w-container">
        <div class="title-wrap">
          <div data-w-id="91766343-f0ef-07c3-c8bc-6e6ad045d5c9" style="opacity:0" class="top-title-wrap">
            <div class="sub-title-wrap">
              <div>04</div>
            </div>
            <div>Pricing Plan</div>
          </div>
          <h2 data-animation="chars" class="title pricing-title">Simple, Transparent Pricing for Teams of All Sizes</h2>
        </div>
        <div id="Pricing" class="all-pricing-wrapper">
          <div id="w-node-ec8c44b5-52a1-ff8d-047d-87ba096c16ed-0e3b844d" class="w-dyn-list">
            <div role="list" class="pricing-grid-collection w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <div class="border-wrap pricing-border-wrap">
                  <div data-w-id="ec8c44b5-52a1-ff8d-047d-87ba096c16f1" class="pricing-post-wrapper">
                    <div class="pricing-top-content">
                      <h4 class="pricing-name"></h4>
                      <div class="pricing-price-block-2 price-text">
                        <h3></h3>
                        <p class="price-month-text-2">/Month</p>
                      </div>
                      <p class="pricing-description"></p>
                    </div>
                    <div class="button-wrap pricing-button-wrap">
                      <a data-w-id="ec8c44b5-52a1-ff8d-047d-87ba096c16fa" href="#"
                        class="blog-btn integration-btn w-inline-block">
                        <div class="button-2 integration-button">
                          <div class="button-text-wrap button-text-white-wrap">
                            <p class="button-text black">Get Started Free</p>
                            <p style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                              class="button-text">Get Started Free</p>
                          </div>
                          <div
                            style="-webkit-transform:translate3d(0, 0, 0) scale3d(2, 2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(2, 2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(2, 2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(2, 2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                            class="button-bg">
                            <div class="button-inner-bg button-blue-inner-bg"></div>
                          </div>
                        </div>
                        <div class="button-bg-block"></div>
                      </a>
                    </div>
                    <div class="version-text-list pricing-feature-text-list">
                      <p class="included-text">What&#x27;s Included:</p>
                      <ul role="list" class="pricing-feature-text-list-2 pricing-feature-text-grid">
                        <li class="list-item"><img loading="lazy" src="images/Pricing-Icon.svg" alt="">
                          <p></p>
                        </li>
                        <li class="list-item"><img loading="lazy" src="images/Pricing-Icon.svg" alt="">
                          <p></p>
                        </li>
                        <li class="list-item"><img loading="lazy" src="images/Pricing-Icon.svg" alt="">
                          <p></p>
                        </li>
                        <li class="list-item"><img loading="lazy" src="images/Pricing-Icon.svg" alt="">
                          <p></p>
                        </li>
                        <li class="list-item"><img loading="lazy" src="images/Pricing-Icon.svg" alt="">
                          <p></p>
                        </li>
                      </ul>
                    </div>
                    <div style="opacity:0" class="bg-image"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-dyn-empty">
              <div>No items found.</div>
            </div>
          </div>
          <div id="w-node-ec8c44b5-52a1-ff8d-047d-87ba096c171f-0e3b844d" class="w-dyn-list">
            <div role="list" class="pricing-grid-collection w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <div class="border-wrap pricing-border-wrap">
                  <div class="pricing-post-wrapper _02">
                    <div class="pricing-top-content">
                      <h4 class="pricing-name"></h4>
                      <div class="pricing-price-block-2 price-text">
                        <h3></h3>
                        <p class="price-month-text-2">/Month</p>
                      </div>
                      <p class="pricing-description"></p>
                    </div>
                    <div class="button-wrap pricing-button-wrap">
                      <a data-w-id="ec8c44b5-52a1-ff8d-047d-87ba096c172c" href="#"
                        class="blog-btn integration-btn w-inline-block">
                        <div class="button-2 active">
                          <div class="button-text-wrap button-text-white-wrap">
                            <p style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                              class="button-text"> Try Free for 14 Days</p>
                            <p class="button-text black"> Try Free for 14 Days</p>
                          </div>
                          <div
                            style="-webkit-transform:translate3d(0, 0, 0) scale3d(2, 2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(2, 2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(2, 2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(2, 2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                            class="button-bg">
                            <div class="button-inner-bg active"></div>
                          </div>
                        </div>
                        <div class="button-bg-block"></div>
                      </a>
                    </div>
                    <div class="version-text-list pricing-feature-text-list">
                      <p class="included-text">What&#x27;s Included:</p>
                      <ul role="list" class="pricing-feature-text-list-2 pricing-feature-text-grid">
                        <li class="list-item"><img loading="lazy" src="images/Pricing-Icon.svg" alt="">
                          <p></p>
                        </li>
                        <li class="list-item"><img loading="lazy" src="images/Pricing-Icon.svg" alt="">
                          <p></p>
                        </li>
                        <li class="list-item"><img loading="lazy" src="images/Pricing-Icon.svg" alt="">
                          <p></p>
                        </li>
                        <li class="list-item"><img loading="lazy" src="images/Pricing-Icon.svg" alt="">
                          <p></p>
                        </li>
                        <li class="list-item"><img loading="lazy" src="images/Pricing-Icon.svg" alt="">
                          <p></p>
                        </li>
                      </ul>
                    </div>
                    <div class="bg-image _02"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-dyn-empty">
              <div>No items found.</div>
            </div>
          </div>
          <div id="w-node-ec8c44b5-52a1-ff8d-047d-87ba096c1750-0e3b844d" class="w-dyn-list">
            <div role="list" class="pricing-grid-collection w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <div class="border-wrap pricing-border-wrap">
                  <div data-w-id="ec8c44b5-52a1-ff8d-047d-87ba096c1754" class="pricing-post-wrapper">
                    <div class="pricing-top-content">
                      <h4 class="pricing-name"></h4>
                      <div class="pricing-price-block-2 price-text">
                        <h3></h3>
                        <p class="price-month-text-2">/Month</p>
                      </div>
                      <p class="pricing-description"></p>
                    </div>
                    <div class="button-wrap pricing-button-wrap">
                      <a data-w-id="ec8c44b5-52a1-ff8d-047d-87ba096c175d" href="#"
                        class="blog-btn integration-btn w-inline-block">
                        <div class="button-2 integration-button">
                          <div class="button-text-wrap button-text-white-wrap">
                            <p class="button-text black"> Upgrade Now</p>
                            <p style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                              class="button-text"> Upgrade Now</p>
                          </div>
                          <div
                            style="-webkit-transform:translate3d(0, 0, 0) scale3d(2, 2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(2, 2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(2, 2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(2, 2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                            class="button-bg">
                            <div class="button-inner-bg button-blue-inner-bg"></div>
                          </div>
                        </div>
                        <div class="button-bg-block"></div>
                      </a>
                    </div>
                    <div class="version-text-list pricing-feature-text-list">
                      <p class="included-text">What&#x27;s Included:</p>
                      <ul role="list" class="pricing-feature-text-list-2 pricing-feature-text-grid">
                        <li class="list-item"><img loading="lazy" src="images/Pricing-Icon.svg" alt="">
                          <p></p>
                        </li>
                        <li class="list-item"><img loading="lazy" src="images/Pricing-Icon.svg" alt="">
                          <p></p>
                        </li>
                        <li class="list-item"><img loading="lazy" src="images/Pricing-Icon.svg" alt="">
                          <p></p>
                        </li>
                        <li class="list-item"><img loading="lazy" src="images/Pricing-Icon.svg" alt="">
                          <p></p>
                        </li>
                        <li class="list-item"><img loading="lazy" src="images/Pricing-Icon.svg" alt="">
                          <p></p>
                        </li>
                      </ul>
                    </div>
                    <div style="opacity:0" class="bg-image"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-dyn-empty">
              <div>No items found.</div>
            </div>
          </div>
        </div>
      </div>
    </section>