 <section class="section trusted">
      <div class="w-layout-blockcontainer container w-container">
        <div class="title-wrap">
          <div data-animation="chars" class="top-title">Love &amp; Trusted by +<span class="white">20,000</span> Business</div>
        </div>
        <div class="business-store-content-wrapper">
          <div data-w-id="940d557c-6cf1-514e-ecb8-bca236f7669f" style="opacity:0" class="business-store-content">
            <div class="store-app-image-block"><img loading="lazy" src="images/App-Store.svg" alt="" class="app-image"></div>
            <div class="store-text-blcok">
              <p class="store-name">Opp Store</p>
              <p class="store-text">Download on the App Store</p>
            </div>
          </div>
          <div data-w-id="940d557c-6cf1-514e-ecb8-bca236f766a7" style="opacity:0" class="business-store-content">
            <div class="store-app-image-block"><img loading="lazy" src="images/Google-Play.svg" alt="" class="app-image"></div>
            <div class="store-text-blcok">
              <p class="store-name">Remini Play Store</p>
              <p class="store-text">Get it on Google Play</p>
            </div>
          </div>
          <div data-w-id="940d557c-6cf1-514e-ecb8-bca236f766af" style="opacity:0" class="business-store-content">
            <div class="store-app-image-block"><img loading="lazy" src="images/Microsoft.svg" alt="" class="app-image"></div>
            <div class="store-text-blcok">
              <p class="store-name">Softmind Store</p>
              <p class="store-text">Get it from Microsoft</p>
            </div>
          </div>
        </div>
      </div>
    </section>
